
<% @tweets.each do |tweet| %>
   
    <div class="card">
      <div class="card-body">
        <p class="card-text">
          <figure class="image is-64x64">
            <%= gravatar_image_tag(@user.email, size: 64, alt: @user.name) %>
          </figure>
          <strong><%= tweet.user.name %></strong>, 
          <small>(<%= link_to '@' + tweet.user.username, user_path(tweet.user.username) %>)</small> ·
          <small><%= tweet.created_at.getlocal.strftime("%d %b. %Y %I:%M %P") %></small><br/>
          <p><%= tweet.tweet %></p>
          <small>
            Posted <%= time_ago_in_words(tweet.created_at) %> ago.
          </small>
        </p>
        <% if user_signed_in? && current_user.id == tweet.user_id %>
          <nav class="level">
            <div class="level-left is-mobile">
              <%= link_to tweet, class: "level-item" do %>
                <span class="icon"><i class="fa fa-link" aria-hidden="true"></i></span>
              <% end %>
              <%= link_to tweet, method: :delete, data: { confirm: "Are you sure you want to delete this tweeet?" } do %>
                <span class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
              <% end %>
            </div>
          </nav>
        <% end %>
      </div>
    </div>
  
<% end %>