<div class="card">
	<div class="card-body">
    <%= gravatar_image_tag(user.email, size: 64, alt: user.name) %>
		<h5 class="card-title"><%= user.name %></h5>
    <small class="text-muted">@<%= user.username %> |</small>
    <small class="card-text text-muted"><%= user.tweets.count %> Tweets | <%= user.following.count %> Following | <%= user.followers.count %> Followers | </small>
    <%= link_to 'Followers', followers_user_path(user), class: "btn5" %>
    <%= link_to 'following', following_user_path(user), class: "btn5" %>
  </div>
</div>
