<div class="container-fluid">
  <div class="row">
    <div class="col">
      <%= render 'layouts/navigation' %>
    </div>
    <div class="col">
      <% if user_signed_in? %>
        <%= render 'profile' %>
        <%= render 'feed' %>
      <% else %>
        <%= render 'feed' %>
    
      <% end %>      
    </div>
    <div class="col">
      <%= render 'who-to-follow' %>
    </div>
  </div>
</div>

<%= will_paginate @tweets %>