<h1>Listing Koombeans' World</h1>

  <p>
    <%= link_to 'Register New Koombean', new_koombean_path %>
  </p>

<table>
	<thead>
    <tr>
      <th></th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>City</th>
      <th>Country</th>
      <th>Phone</th>
      <th>About</th>
      <th>Area</th>
      <th>E-mail</th>
      <th colspan=3>Action</th>
    </tr>
	</thead>

  <tbody>
    <% @koombeans.each do |koombean| %>
      <tr>
        <td><%= link_to image_tag(thumb_avatar(koombean, 100)), koombean.avatar if koombean.avatar.attached?  %></td>
        <td><%= koombean.firstname %></td>
        <td><%= koombean.lastname %></td>
        <td><%= koombean.city %></td>
        <td><%= koombean.country %></td>
        <td><%= koombean.phone %></td>
        <td><%= koombean.bio %></td>
        <td><%= koombean.area %></td>
        <td><%= koombean.email %></td>
        <td><%= link_to 'Show', koombean_path(koombean) %></td>
        <td><%= link_to 'Edit', edit_koombean_path(koombean) %></td>
        <td><%= link_to 'Delete', koombean_path(koombean), method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>  
  </tbody>
</table>