<h1>Are you Koombean</h1>

<p><strong>Name: </strong><%= @koombean.firstname %></p>
<p><strong>Lastname: </strong><%= @koombean.lastname %></p>
<p><strong>City: </strong><%= @koombean.city %></p>
<p><strong>Country: </strong><%= @koombean.country %></p>
<p><strong>Phone: </strong><%= @koombean.phone %></p>
<p><strong>About: </strong><%= @koombean.bio %></p>
<p><strong>Area: </strong><%= @koombean.area %></p>
<p><strong>Email: </strong><%= @koombean.email %></p>

<h3>Networks</h3>
<ul>
  <% for @network in @koombean.networks %>
    <ol><%= @network.socialname %></ol>
    <ol><%= @network.link %></ol>
  <% end %>
</ul>

<p>
  <%= link_to 'Edit', edit_koombean_path(@koombean) %> |
  <%= link_to 'Delete', koombean_path(@koombean), method: :delete, data: { confirm: "Are you sure?" } %> |
  <%= link_to 'Back to List', koombeans_path %>
</p>