<div class="container">
  <div class="row">
    <div class="col-2">
      <%= render 'layouts/navigation' %>
    </div>
    <div class="col-7">
      <div class="card">
        <div class="card-header">
          Following
        </div>
        <ul class="list-group list-group-flush">
          <%if user_signed_in? %>
            <div>
            <h1> You are following to </h1>
            <% if @following.nil? %>
              <% @user.following.each do |followed| %>
                <strong class="card-title"><%= followed.name %></strong>
                <small class="card-subtitle text-muted">
                  (<%= link_to '@' + followed.username, user_path(followed.id) %>)
                </small>
                <div>
                  <% if followed != current_user %>
                    <% if current_user.following.include? followed %>
                      <%= render partial: "tweets/follow-button", locals: {user: followed} %>
                    <% end %>
                  <% end %>
                </div>                
              <% end %>
            <% else %>
                <h1 class="display-4 text-center"> You haven´t anybody follow yet </h1>
            <% end %>
            </div>
            <div class="pagination justify-content-center">
              <%= will_paginate @users %>
            </div>
          <% end %>
        </ul>
      </div>    
    </div>
  </div>
</div>    
