<div class="nested-fields">
    <%= f.hidden_field :_destroy %>
    <div>
        <%= f.label :socialname %>
        <%= f.text_field :socialname %>
    </div>
    <div>
        <%= f.label :link %>
        <%= f.text_field :link %>
    </div>
    <div>
        <%= link_to "Remove", '#', class: "remove_fields" %>
    </div>
</div>