<h1>Are you Koombean</h1>


<figure><%= link_to image_tag(@user.avatar.variant(resize_to_fill: [400, 400])),
            @user.avatar if @user.avatar.attached? %></figure>


<p><strong>Name: </strong><%= @user.firstname %></p>
<p><strong>Lastname: </strong><%= @user.lastname %></p>
<p><strong>Email: </strong><%= @user.username %></p>
<p><strong>City: </strong><%= @user.city %></p>
<p><strong>Country: </strong><%= @user.country %></p>
<p><strong>Phone: </strong><%= @user.phone %></p>
<p><strong>About: </strong><%= @user.bio %></p>
<p><strong>Area: </strong><%= @user.area %></p>


<h3>Networks</h3>
<ul>
  <% for @link in @user.links %>
    <ol><%= @link.socialname %></ol>
    <ol><%= @link.link %></ol>
  <% end %>
</ul>

<p>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Delete', user_path(@user), method: :delete, data: { confirm: "Are you sure?" } %> |
  <%= link_to 'Back to List', users_path %>
</p>