<nav id="sidebarMenu" class="col d-md-block sidebar collapse">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li>
        <a class="nav-link active" href="#">
          <i class="fab fa-twitter fa-2x bird" ></i>
        </a>
      </li>        
      <li>
        <a class="nav-link active" href="/tweets">
          <i class="fas fa-house-user"></i>
          Home <span class="sr-only">(current)</span>
        </a>
      </li>
      <li>
        <% if user_signed_in? %>
          <a class="nav-link" href="#">
            <div class="btn4" >
              @<%= current_user.username %>
            </div>  
          </a>
        <% end %>
      </li>
      <li>
        <a class="nav-link" href="#">
          <i class="far fa-bell fa-1x"></i>
          Notifications
        </a>
      </li>
      <li>
        <a class="nav-link" href="#">
          <i class="far fa-envelope"></i>
          Messages
        </a>
      </li>
      <li>
        <a class="nav-link" href="#">
          <i class="far fa-bookmark"></i>
          Saved
        </a>
      </li>
      <li>
        <a class="nav-link" href="#">
          <i class="far fa-list-alt"></i>
          Lists
        </a>
      </li>
      <li>
        <a class="nav-link" href="#">
          <i class="fas fa-ellipsis-h"></i>
          More Options
        </a>
      </li>      
      <li>
        <% if user_signed_in? %> 
          <%= link_to "Profile", current_user.username, class: 'btn5 fas fa-user' %>
        <% else %>
          <%= link_to 'Sign In', new_user_session_path, class: "btn3" %>
        <% end %>
      </li>

      <li>
        <% if user_signed_in? %>
          <a class="nav-link" href="#">
            <%= link_to 'Tweet', new_tweet_path, class: 'btn3' %>
          </a>
        <% end %>
      </li>    
      <li>
        <% if user_signed_in? %>
          <a class="nav-link" href="#">
            <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'btn3' %>
          </a>
        <% end %>  
      </li>     
    </ul>
  </div>
</nav>